@import "./../../../pages/admin.component.scss";

#menu-toggle {
  color: $admin-primary-color;
  background-color: transparent;
  border-color: transparent;
  font-size: large;
}
.shadow {
  -webkit-box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.26)!important;
  -moz-box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.26)!important;
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.26)!important;
}
